repose-aggregator/functional-tests/spock-functional-test/src/test/configs/features/filters/apivalidator/contentlimit/test.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:rax="http://docs.rackspace.com/api"
   xmlns="http://wadl.dev.java.net/2009/02"
   xmlns:test="http://test.openrespose/test/v1.1"
   xsi:schemaLocation="http://test.openrespose/test/v1.1
		       test.xsd">
    <grammars>
        <include href="test.xsd" />
    </grammars>
    <resources base="http://localhost:${targetPort}/">
        <resource path="/wadl/test">
            <!--
            <method name="GET" id="getContainers">
                <response>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            -->
            <resource path="/resource1">
                <resource path="{id}">
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                    <method name="PUT" id="updateEntry">
                        <request/>
                        <response status="200">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="201 202">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="404">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="400 401 403 409 413 415 500 503">
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                    <method name="POST" id="createEntry">
                        <request/>
                        <response status="200">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="201 202">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="404">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="400 401 403 409 413 415 500 503">
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                    <method name="DELETE" id="deleteEntry">
                        <request/>
                        <response status="200">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="201 202">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="404">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="400 401 403 409 413 415 500 503">
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                    <method name="PATCH" id="modifyEntry">
                        <request/>
                        <response status="200">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="201 202">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="404">
                            <representation mediaType="application/xml"/>
                        </response>
                        <response status="400 401 403 409 413 415 500 503">
                            <representation mediaType="application/xml"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>