repose-aggregator/functional-tests/spock-functional-test/src/test/configs/features/filters/apivalidator/contentlimit/test.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:rax="http://docs.rackspace.com/api"
   xmlns="http://wadl.dev.java.net/2009/02">
    <resources base="http://localhost:${targetPort}/">
        <resource path="/wadl/test">
            <resource path="/resource1">
                <resource path="{id}">
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                    <method name="PUT" id="updateEntry">
                        <request>
                            <representation mediaType="application/atom+xml">
                        	</representation>
                        </request>
                        <response status="200" />
                        <response status="201 202" />
                        <response status="404" />
                        <response status="400 401 403 409 413 415 500 503" />
                    </method>
                    <method name="POST" id="createEntry">
                        <request>
                            <representation mediaType="application/atom+xml">
                            </representation>
                        </request>
                        <response status="200" />
                        <response status="201 202" />
                        <response status="404" />
                        <response status="400 401 403 409 413 415 500 503" />
                    </method>
                    <method name="DELETE" id="deleteEntry">
                        <request>
                            <representation mediaType="application/atom+xml">
                        	</representation>
                        </request>
                        <response status="200" />
                        <response status="201 202" />
                        <response status="404" />
                        <response status="400 401 403 409 413 415 500 503" />
                    </method>
                    <method name="PATCH" id="modifyEntry">
                        <request>
                            <representation mediaType="application/atom+xml">
                        	</representation>
                        </request>
                        <response status="200" />
                        <response status="201 202" />
                        <response status="404" />
                        <response status="400 401 403 409 413 415 500 503" />
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>