test/spock-functional-test/src/test/configs/features/filters/apivalidator/autoscale/autoscale.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:rax="http://docs.rackspace.com/api"
    <resources base="https://{region}.autoscale.api.rackspacecloud.com/">
      <resource path="v1.0" rax:roles="admin autoscale:admin autoscale:service-admin"
                id="version">
         <resource path="execute" id="anonymous_execute_webhook">
            <resource path="{capability_version}" id="anonymous_execute_webhook-2">
               <param name="capability_version" required="true" style="template" type="xsd:string"/>
               <resource path="{capability_hash}" id="anonymous_execute_webhook-3">
                  <param name="capability_hash" required="true" style="template" type="xsd:string"/>
                  <method name="POST" rax:id="anonymousExecute">
                  </method>
               </resource>
            </resource>
         </resource>
         <resource path="{tenantId}" id="tenantid">
            <param name="tenantId" type="xsd:string" required="true" style="template">
               <doc>A subscriber to the autoscaling service</doc>
            </param>
            <resource path="groups" id="groups">
               <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                  <doc>A valid authentication token</doc>
               </param>
               <method name="GET" rax:roles="observer autoscale:observer" rax:id="getGroups">
               </method>
               <method name="POST" rax:id="createGroup">
               </method>
               <resource path="{groupId}" id="group">
                  <method name="GET" rax:roles="observer autoscale:observer" rax:id="getGroupManifest">
                  </method>
                  <method name="DELETE" rax:id="deleteGroup">
                  </method>
                  <resource path="config" id="group_config">
                     <method name="GET" rax:roles="observer autoscale:observer" rax:id="getGroupConfig">
                     </method>
                     <method name="PUT" rax:id="putGroupConfig">
                     </method>
                  </resource>
                  <resource path="launch" id="launch_configuration">
                     <method name="GET" rax:roles="observer autoscale:observer" rax:id="getLaunchConfig">
                     </method>
                     <method name="PUT" rax:id="putLaunchConfig">
                     </method>
                  </resource>
                  <resource path="pause" id="pause">
                     <method name="POST" rax:id="pauseGroup">
                     </method>
                  </resource>
                  <resource path="policies" id="policies">
                     <method name="GET" rax:roles="observer autoscale:observer" rax:id="getPolicies">
                     </method>
                     <method name="POST" rax:id="createPolicies">
                     </method>
                     <resource path="{policyId}" id="policy">
                        <method name="GET" rax:roles="observer autoscale:observer" rax:id="getPolicy">
                        </method>
                        <method name="PUT" rax:id="putPolicy">
                        </method>

                         <method name="DELETE" rax:id="deletePolicy">
                        </method>
                        <resource path="execute" id="execute">
                           <method name="POST" rax:id="executePolicy">
                           </method>
                        </resource>
                        <resource path="webhooks" id="webhooks">
                           <method name="GET" rax:id="getWebhooks">
                           </method>
                           <method name="POST" rax:id="createWebhook">
                           </method>
                           <resource path="{webhookId}" id="webhook">
                              <method name="GET" rax:id="getWebhook">
                              </method>
                              <method name="PUT" rax:id="putWebhook">
                              </method>
                              <method name="DELETE" rax:id="deleteWebhook">
                              </method>
                           </resource>
                        </resource>
                     </resource>
                  </resource>
                  <resource path="resume" id="resume">
                     <method name="POST" rax:id="resumeGroup">

                        <request>
                           <representation mediaType="application/json">
                              <doc xml:lang="en"/>
                           </representation>
                        </request>
                        <response status="204"/>
                        </method>
                  </resource>
                  <resource path="state" id="group_state">
                     <method name="GET" rax:roles="observer autoscale:observer" rax:id="getGroupState">

                        <response status="200">
                           <representation mediaType="application/json">
                              <doc xml:lang="en"/>
                           </representation>
                        </response>
                     </method>
                  </resource>
               </resource>
            </resource>
         </resource>
      </resource>
   </resources>
   <!-- ======================================================================================= --><!-- Methods --><!-- ======================================================================================= --><method id="createGroup" name="POST">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" title="Create Group">
         <para role="shortdesc">
                This operation creates an autoscaling group.
            </para>
         <para>
                This operation creates an autoscaling group or a collection of servers and load balancers that are managed by a scaling policy.
                To describe the group you wish to create, specify the scaling group configuration, launch configuration, and optional scaling
                policies in the request body in JSON format. For a successful request, the response body describes
                the created group in JSON format. The response includes an ID and links for the group.
            </para>
      </wadl:doc>
      <request>
         <representation mediaType="application/json">
            <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
               <p>The request is divided into three top-level sections:
                        <ul>
                     <li>
                        <code>launchConfiguration</code>
                     </li>
                     <li>
                        <code>groupConfiguration</code>
                     </li>
                     <li>
                        <code>scalingPolicies</code>
                     </li>
                  </ul>
                        More narrative description could go here.
                    </p>
            </wadl:doc>
            <param name="group" style="plain" path="$['group']" required="true">
               <doc>Wrapper for the request.</doc>
            </param>
            <param name="launchConfiguration" style="plain"
                   path="$['group']['launchConfiguration']"
                   required="true">
               <doc>One of three top-level sections. This section defines the configuration for the items controlled by this group.
                    </doc>
            </param>
            <param name="args" style="plain" path="$['group']['launchConfiguration']['args']"
                   required="true">
               <doc>
                        The arguments passed in to the launch configuration.
                    </doc>
            </param>
            <param name="loadBalancers" style="plain"
                   path="$['group']['launchConfiguration']['args']['loadBalancers']">
               <doc>
                        An array of load balancers.
                    </doc>
            </param>
            <param name="port" style="plain"
                   path="$['group']['launchConfiguration']['args']['loadBalancers']['port']">
               <doc>
                        The port for a load balancer.
                    </doc>
            </param>
            <param name="loadBalancerId" style="plain"
                   path="$['group']['launchConfiguration']['args']['loadBalancers']['loadBalancerId']">
               <doc>
                        The load balancer id.
                    </doc>
            </param>
            <param name="server" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="name" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['name']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="imageRef" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['imageRef']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="flavorRef" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['flavorRef']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="diskConfig" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['diskConfig']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="personality" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['personality']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="path" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['personality']['path']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="contents" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['personality']['contents']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="networks" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['networks']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="uuid" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['networks']['uuid']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="networks" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['networks']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="uuid" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['networks']['uuid']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="metadata" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['metadata']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="build_config" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['metadata']['build_config']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="meta_key_1" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['metadata']['meta_key_1']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="meta_key_2" style="plain"
                   path="$['group']['launchConfiguration']['args']['server']['metadata']['meta_key_2']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="type" style="plain" path="$['group']['launchConfiguration']['type']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="groupConfiguration" style="plain" path="$['group']['groupConfiguration']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="maxEntities" style="plain"
                   path="$['group']['groupConfiguration']['maxEntities']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="cooldown" style="plain"
                   path="$['group']['groupConfiguration']['cooldown']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="name" style="plain" path="$['group']['groupConfiguration']['name']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="minEntities" style="plain"
                   path="$['group']['groupConfiguration']['minEntities']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="metadata" style="plain"
                   path="$['group']['groupConfiguration']['metadata']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="gc_meta_key_2" style="plain"
                   path="$['group']['groupConfiguration']['metadata']['gc_meta_key_2']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="gc_meta_key_1" style="plain"
                   path="$['group']['groupConfiguration']['metadata']['gc_meta_key_1']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="scalingPolicies" style="plain" path="$['group']['scalingPolicies']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="name" style="plain" path="$['group']['scalingPolicies']['name']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="links" style="plain" path="$['group']['scalingPolicies']['links']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="href" style="plain" path="$['group']['scalingPolicies']['links']['href']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="rel" style="plain" path="$['group']['scalingPolicies']['links']['rel']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="cooldown" style="plain" path="$['group']['scalingPolicies']['cooldown']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="type" style="plain" path="$['group']['scalingPolicies']['type']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="id" style="plain" path="$['group']['scalingPolicies']['id']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="change" style="plain" path="$['group']['scalingPolicies']['change']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="links" style="plain" path="$['group']['links']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="href" style="plain" path="$['group']['links']['href']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="rel" style="plain" path="$['group']['links']['rel']">
               <doc>
                        WRITEME
                    </doc>
            </param>
            <param name="id" style="plain" path="$['group']['id']">
               <doc>
                        WRITEME
                    </doc>
            </param>
         </representation>
      </request>
      <response status="201">
         <param name="location" style="header" required="true" type="xsd:anyURI">
            <doc>This operation creates an autoscaling endpoint</doc>
         </param>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="getGroups" name="GET" rax:roles="observer autoscale:observer">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" title="List Scaling Groups" xml:lang="EN">
         <para role="shortdesc">
                This operation lists the autoscaling groups that are available for the specified tenant.
            </para>
         <para>
                This operation returns a list of autoscaling groups that have been created for the tenant specified by
                <code>tenantID</code>.</para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="getGroupManifest" name="GET" rax:roles="observer autoscale:observer">
      <wadl:doc xmlns="http://docbook.org/ns/docbook" title="List All Group Details">
         <para role="shortdesc">
                This operation returns details about the configuration for a specified autoscaling group.
            </para>
         <para>
                This operation returns details including the launch configuration and the scaling policies for the specified autoscaling group configuration. These
                details are returned in the response body in JSON format.
            </para>
      </wadl:doc>
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="getGroupState" name="GET" rax:roles="observer autoscale:observer">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="getGroupConfig" name="GET" rax:roles="observer autoscale:observer">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="putGroupConfig" name="PUT">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method id="getLaunchConfig" name="GET" rax:roles="observer autoscale:observer">
      <doc title="Get Launch Configuration">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="putLaunchConfig" name="PUT">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method id="pauseGroup" name="POST">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method id="resumeGroup" name="POST">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method name="GET" id="getPolicies" rax:roles="observer autoscale:observer">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method name="POST" id="createPolicies">
      <request>
      </request>
      <response status="201">
      </response>
   </method>
   <method name="GET" id="getPolicy" rax:roles="observer autoscale:observer">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="putPolicy" name="PUT">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method id="deletePolicy" name="DELETE">
      <response status="204"/>
   </method>
   <method id="executePolicy" name="POST">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="202"/>
   </method>
   <method name="GET" id="getWebhooks">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="createWebhook" name="POST">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="201">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="getWebhook" name="GET">
      <response status="200">
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </response>
   </method>
   <method id="putWebhook" name="PUT">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="204"/>
   </method>
   <method id="deleteWebhook" name="DELETE">
      <response status="204"/>
   </method>
   <method id="anonymousExecute" name="POST">
      <request>
         <representation mediaType="application/json">
            <doc xml:lang="en"/>
         </representation>
      </request>
      <response status="202"/>
   </method>
</application>
